<!-- 发起 -->
<div class="aw-publish-btn sideNav-btn">
	<?php if ($this->user_id) { ?>
	<a id="header_publish" class="btn-primary" <?php if (get_setting('quick_publish') == 'Y' AND $this->user_id) { ?>href="publish/"<?php } else { ?>href="publish/<?php if ($_GET['category']) { ?>category_id-<?php echo intval($_GET['category']); ?>__<?php } ?><?php if ($this->topic_info) { ?>topic_title-<?php echo urlencode($this->topic_info['topic_title']); ?>__<?php } ?>"<?php } ?><?php if (get_setting('quick_publish') == 'Y' && $this->user_id) { ?> onclick="AWS.dialog('publish', {'category_enable':'<?php echo (get_setting('category_enable') == 'Y') ? '1' : '0'; ?>', 'category_id':'<?php echo intval($_GET['category']); ?>', 'topic_title':'<?php echo $this->topic_info['topic_title']; ?>'}); return false;"<?php } ?>><i class="fa fa-paper-plane-o" aria-hidden="true"></i> <?php _e('来一发吗？'); ?></a>
	<div class="dropdown-list pull-right">
		<ul>
			<li>
				<form method="post" action="publish/">
					<?php if ($this->topic_info['topic_title']) { ?>
					<input type="hidden" value="<?php echo $this->topic_info['topic_title']; ?>" name="topics[]" />
					<?php } ?>
					<a onclick="$(this).parents('form').submit();"><i class="fa fa-question-circle-o" aria-hidden="true"></i> <?php _e('发布问题'); ?></a>
				</form>

			</li>
			<?php if ($this->user_info['permission']['publish_article']) { ?>
			<li>
				<form method="post" action="publish/article/">
					<?php if ($this->topic_info['topic_title']) { ?>
					<input type="hidden" value="<?php echo $this->topic_info['topic_title']; ?>" name="topics[]" />
					<?php } ?>
					<a onclick="$(this).parents('form').submit();"><i class="fa fa-clone" aria-hidden="true"></i> <?php _e('发表文章'); ?></a>
				</form>
			</li>
			<?php } ?>
			<?php if (check_extension_package('project') && get_setting('project_enabled') == 'Y' && $this->user_info['permission']['publish_project']) { ?>
			<li><a href="project/publish/"><i class="fa fa-smile-o" aria-hidden="true"></i> <?php _e('创建活动'); ?></a></li>
			<?php } ?>
		</ul>
	</div>
	<?php } else { ?>
	<a class="btn-primary login" style="color:#fff;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> <?php _e('登录即可发帖'); ?></a>
	<?php }?>
</div>
<!-- end 发起 -->